
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #444;
    margin-bottom: 20px;
}

.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    
}

.error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}

.weather-info {
    font-size: 18px;
    margin: 10px 0;
}

.temperature {
    font-size: 22px;
    font-weight: bold;
}

/* Loader Styling */
#loader {
    display: block;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.container {
    text-align: center; 
}

.lottie-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
     
    margin: 20px 0; 
}


.hidden {
    display: none;
}
